h1 {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    background: var(--NAVY-BLUE, #2E2F42);
    margin-top: 0px;
    padding-top: 188px;
    padding-bottom: 292px;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(46, 47, 66, 0.7);
}

h1 > button {
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color:white;
    padding: 16px 32px;
    font-size: 16px;
}

button:hover {
    border-radius: 4px;
        background: teal;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: black;
}

.main-header-menu-link {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 1158px;
}

.main-nav {
    list-style: none;
        display: flex;
        gap: 40px;
        margin-left: 156px;
        align-items: center;
        height: 72px;
        margin-top: 24px;
        margin-bottom: 24px;
}

.main-header-ctas {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    margin-top: 24px;
        margin-bottom: 24px;
}

.section1 {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.section1-box {
    color: var(--SLATE, #434455);
        font-size: 16px;
        height: 72px;
        width: 264px;
        gap: 24px;
}

.pics {
    display: flex;
        justify-content: space-around;
        margin: 0 156px;
}

.team1 {
    list-style: none;
    display:flex;
        justify-content: space-around;
        margin: 0 156px 120px 156px;
}

h2 {
    margin-top: 120px;
    margin-bottom: 80px;
    font-size: 36px;
}

.ctas-link {
    text-decoration: none;
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.web1 {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.web2 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.web3-footer {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-header-menu-link {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

h2 {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

h3 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

p {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.sub-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 120px;
}

.sub-menu .sub-menu1{
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);
    color: var(--IRIS, #4D5AE5);
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        border-radius: 4px;
            border: 1px solid var(--CORNFLOWER, #E7E9FC);
            background: var(--CLOUD, #F4F4FD);
}

.sub-menu .sub-menu1 {
    padding: 10px 15px;
    cursor: pointer;
}

.container-box {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-bottom: 120px;
}

.container-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
    margin: 120px auto;
    place-items: center;
    gap: 30px;
}

.container-box .box {
    border-bottom: 1px solid #b5b5b5;
    padding: 10px 15px;
}

.container-box .box:hover {
    box-shadow: 0px 0px 10px 0px rgb(169 166 166 / 75%);
}


.sub-menu .sub-menu1:hover {
    border-radius: 4px;
background: var(--OCEAN, #404BBF);
color: var(--WHITE, #FFF);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.main-nav .main-header-menu-link:hover {
    border-radius: 4px;
        background: var(--OCEAN, #404BBF);
        color: var(--WHITE, #FFF);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.main-header-ctas .ctas-link:hover {
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.about-icon {
    padding: 24px 100px;
    text-align: center;
    background-color: #F4F4FD;
}

.team1 {
    column-gap: 24px;
}

.team {
    background-color: #F4F4FD;
}

.team-caption {
    background-color: #F4F4FD;
}

.team ul li {
    text-align: center;
}

.team-socials {
    display: flex;
    justify-content: space-around;
}

.team-socials-icon {
    background-color: #4D5AE5;
    fill: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 120px;
}

.client-icon {
    border: solid 1px #8E8F99;
    list-style: none;
    padding: 16px 32px;
}

.client-icon:hover {
    border-color: black;
    background-color: #4D5AE5;
}

footer {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 101.5px;
    padding-left: 156px;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-bottom: 100px;
}

footer > h3:hover {
    border-radius: 4px;
        background: var(--OCEAN, #404BBF);
        color: teal;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.footer-container {
    display: flex;
}

.footer-2 {
    color: white;
    margin-left: 170px;
}

.footer-team-socials {
    display: flex;
    margin-left: 170px;
    gap: 15px;
}


.web1:hover {
    color:teal;
}

.web2:hover {
    color: teal;
}

.web3-footer:hover {
    color: teal;
}

